body {
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header" "main" "footer";
}
 
header {
    grid-area: header;
    background-color: #171a21;
    color: white;
    padding: 15px;
    text-align: center;
}
 
header .steam-logo {
    width: 200px;
    margin-bottom: 10px;
    float: left;
    
}
 
header nav {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    
}
 
header nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 5px 15px;
    transition: background-color 0.3s;
}
 
header nav a:hover {
    background-color: #0c6dec;
    border-radius: 2px;
}
 
main {
    grid-area: main;
    padding: 20px;
}
 
.profile-info {
    display: flex;
    background-color: black;
    color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    
}
 
.profile-info .avatar {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-right: 20px;
}
 
.profile-info .user-info {
    max-width: 300px;
}
 
.profile-info .user-info h2 {
    margin: 0;
    font-size: 24px;
    color: white;
}
 
.profile-info .user-info p {
    margin: 8px 0;
    font-size: 14px;
    color: white;
}
 
.recent-activity .activity   {
    background-color: rgb(42, 42, 43);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    display: flex;
    margin-bottom: 15px;
    color: gray;

}

.recent-activity .activity p:last-child {
    color: rgb(50, 190, 236); 
}
 

.recent-activity h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: white;
}
 
.activity {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}
 
.activity img {
    width: 300px;
    height: 100px;
    margin-right: 20px;
    border-radius: 0px;
}
 
.activity h4 {
    font-size: 16px;
    margin: 0;
    color: white;
}
 

 
.online-status {
    text-align: center;
    margin-top: 20px;
}
 
.online-status .online {
    color: green;
    font-weight: bold;
}
 
footer {
    grid-area: footer;
    background-color: #171a21;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}