.flex-container {
    display: flex;
   background-color: lightgray;
}
.flex-item {
    background-color: lightblue;
    padding: 10px;
    margin: 5px;
    flex-grow: 1;
    flex-basis: 100px;
}